body {
    background-color: #c4dbed;
}

.jumbotron {
    width: 100%;
    width: 576px !important;
}

.table {
    width: 100%;
    max-width: 330px !important;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 10px #999;
}

#calc-header {
    text-align: center;
    padding: 5px;
    margin: 1px;
}

/* colors */

#screen {
    min-width: 100%;
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin: 1;
    border-style: ridge;
}

.operator {
    max-width: 25%;
    color: #fff;
    background-color: black;
}

/* raised button */

.btn {
    padding: 10px 25px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #1C2331;
    background-color: #c4dbed;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.btn:active {
    /* background-color: #3e8e41; */
    box-shadow: 0 5px rgb(95, 95, 95);
    transform: translateY(4px);
}

.btn:disabled {
    background-color: #ccc;
    box-shadow: 0;
    border-radius: 0;
}

.color-dark {
    color: #fff;
    background-color: #000 !important
}

#footer,
#calcHeader,
h4 {
    text-align: center;
}
